# ===== Maven / Java =====
target/
*.iml
*.class
.idea/
.mvn/timing.properties

# ===== Node / React =====
/node_modules/
/dist/
/.vite/
npm-debug.log*

# ===== Docker volumes =====
db_data/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Environment files =====
.env

package-lock.json
package.json
