.vertical-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    z-index: 3000;
    background: #AEC3B0;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 2999;
    background: rgba(0,0,0,.4);
}
